.h2{
    text-align: center;
}
.mi-table{
    margin-top: 35px;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 40%;
    caption-side: top;
}
th{
    border-width: 1px;
    border-color: black;
}
 tr td {
    border-color: black;
    border-width: 1px; 
}
.mi-caption{
    border: 1.5px solid black;
    font-size: larger;
    background-color: #031d37;
    color: white;
    text-align: center;
}
.table2{
    max-width: 40%;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 35px;
    caption-side: top;
}
.mi-section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.table3{
    max-width: 40%;
    caption-side:top ;

}
.table3 tbody{
    line-height: 150%;
    border-color: black;
}
.section-table3{
    display: flex;
    justify-content: space-evenly;
}
.mi-main{
    font-family: cursive;
}
@media(max-width: 768px){
    .h2{
        margin-top: 60px;
    }
    .mi-section{
        flex-direction: column;
        align-items: center;
    }
    .mi-table{
        max-width: 90%;
        margin-top: 20px;
    }
    .table2{
        max-width: 90%;
        margin-top: 20px;
    }
    .section-table3{
        flex-direction: column;
        align-items: center;
    }
    .table3{
        max-width: 90%;
        margin-top: 20px;
    }
}