section {
    text-align: center;
    font-family: neo tech ;
}
.contenedor-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
}
.precio {
    font-size: 35px;
}

.descripción {
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

img { 
    border-radius: 15px;
    width: 60%;
}
.titulo {
    font-size: 35px;
}
