.titulo {
    font-size: 35px;
}
.precio {
    font-size: 35px;
    background-color: #38B575;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
}

.especificaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.esp-img {
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    margin: 40px;
    padding: 60px;
}
.contenedor-tabla{
    line-height: 100%;
    margin-top: 70px;
}
.contenedor-tabla li {
    margin-bottom: 8px;
}

img { 
    border-radius: 15px;
    margin: auto;
}

.descripción {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
.h3-detalle{
    text-align: center;
}
@media(max-width: 768px){
    .contenedor-producto {
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }
    .precio{
        max-width: 60%;
        font-size: larger;
        text-align: center;
    }
    .esp-img {
        max-width: 90%;
    }
    .descripción{
        border: none;
    }
    .titulo{
        margin-top:2rem;
    }
}