.titulo {
    font-size: 35px;
    font-family: sans-serif;
}
.contenedor-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.precio {
    font-size: 35px;
    background-color: #38B575;
    color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 15px;
    font-family: sans-serif;
}

.especificaciones {
    display: flex;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
}

.contenedor-tabla li {
    margin-bottom: 5px;
    
}

.especificaciones img {
    margin: 0;
}

img { 
    border-radius: 15px;
    width: 800px;
    margin: auto;
    margin-top: 0%;
}

.descripción {
    max-width: 900px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
}


