.main{
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
    line-height: 150%;
    font-size: larger;
}
.aside{
    padding: 2%;
    text-align: left;
    max-width: 35%;
    border: 1px solid black;
    margin-top: 2%;
    background-color: #f0f4f8;
}
.box1{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid black;
    padding: 3%;
}
.box2{
    padding: 2%;
    margin-top: 2%;
    margin-left: 5%;
}