.mi-main{
    text-align: center;
    width: 70%;
}

.form{
    text-align: center;
    padding: 10px;
    background-color: #ffffff/*#f0f4f8*/;
    max-width: 100%;
}
.mis-items{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #f0f4f8;
    border-radius: 10px;
}

.select-placeholder {
    font-style: italic;
    color:grey;
}
.select-placeholder:valid{
    color: black;
}
.select-placeholder option {
    color: black;
}

.boton-confirmar{
    background-color: #1d5bec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.boton-limpiar{
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .mi-main{
        text-align: left;
        width: 100%;
    }
    .form{
        text-align: center;
        padding: 5%;
        background-color: #ffffff/*#f0f4f8*/;
        max-width: 100%;
    }
    label{
        margin: 2%;
    }
}