.form{
    text-align: center;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f0f4f8;
}
.items{
    text-align: left;
    padding: 2%;
    border-color: black;
    text-decoration: underline;
    border-width: 3px;
}
.main{
    text-align: center;
    line-height: 150%;
    margin-left: 5%;
    margin-right: 5%;
}