/* Centrar contenido */
.container {
    width: 90%;
    margin: auto;
    text-align: center;
}
#h1{
    text-align: center;
    margin-top: 20px;
}
/* Tarjetas */
.card {
    display: inline-block; 
    width: 250px;
    margin: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    background-color: white;
}

/* Imágenes */
.card img {
    width: 100%;   
    height: 150px; 
    object-fit: contain; 
}

/* Títulos */
.card h2 {
    font-size: 16px;
    margin: 10px 0;
}

/* Texto */
.card p {
    font-size: 16px;
}

/* Precio */
.precio {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}
