.nav{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #031d37;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    color: #10b3ee;
}
.nav img{
    max-width: 10%;
}
.a{
    margin-right: 2%;
    color: rgb(255, 255, 255);
}
    .a:hover{
        color: #10b3ee;
        text-decoration: none;
    }
    .a:active{
        color: rgb(255, 255, 255);
    }
#fondo{
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.footer{
    text-align: center;
    border: 1px solid rgb(10, 10, 11);
    background-color: #031d37;
    color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    padding: 20px;
}
.box3{
    text-align: center;
}
.logo-tienda{
    max-width: 100%;
}