.nav{
    border-radius: 10px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #0f172a;
    border: 3px solid rgb(7, 7, 7);
    font-weight: bold;
    margin-top: 25px;
    color: #38bdf8;
}
.a{
    margin-right: 2%;
    color: rgb(255, 255, 255);
    border-bottom: #FAFAF8;
}
    .a:hover{
        color: #38bdf8;
        text-decoration: none;
    }
    .a:active{
        color: rgb(255, 255, 255);
    }
#fondo{
    background-color: #FAFAF8;
}
.footer{
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 3%;
    padding: 1%;
    background-color: #0f172a;
    color: white;
}