@use "variables" as vars;

@mixin navbar{
    .minav{
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        background-color: vars.$color-fondo;
        border-bottom: 2px solid rgb(0, 0, 0);
        font-weight: bold;
        color: vars.$color-principal;
    }
}
@mixin hover{
    a{
        &:hover{
            color: vars.$color-principal;
            text-decoration: none;
        }
        &:active{
            color: white;
        }
    }
}
@mixin img{
      .minav img{
        max-width: 10%;
    }
    .a{
        margin-right: vars.$espaciado-base;
        color: white;
    }
}