@use "mixin" as mx;
@use "variables" as vars;
@include mx.newsletter;

.box-msj{
    padding-top:vars.$espaciado-chico;
}
.mi-main{
    text-align: center;
    line-height: 150%;
    margin-left: vars.$espaciado-base;
    margin-right: vars.$espaciado-base;
    margin-top: vars.$espaciado-grande;
    margin-bottom: vars.$espaciado-base;
}
@media (max-width: 600px) {
    .mis-items{
        max-width: 100%;
        text-align: left;
        margin: 3%;
        padding: 5.4%;
        border-color: black;
        border-width: 3px;
    }
    main div{
        margin-top: vars.$espaciado-chico;
        line-height: 180%;
    }
    main{
        padding-top: vars.$espaciado-grande;
    }
}