$color-fondo: #031d37;
$color-header: #031d37;
$color-principal: #10b3ee;
$espaciado-chico: 1rem;
$espaciado-base: 1.5rem;
$borde-redondeado: 15px;
$espaciado-grande: 2rem;
$borde-general: 1px solid #0000002f;
$radio-redondeado: 15px;
$color-hover: #10b3ee;
$fuente-principal: 'Open Sans', sans-serif;
$color-textbtn: #ffffff;
$texto-boton: #efedff;
$color-bot-hover: #10b3ee;
$color-bot-fondo-transp: rgba(0, 0, 0, 0);
$color-nav-fondo: #113b66;
$color-sombra: rgba(0, 0, 0, 0.08);

$radio-boton: 15px;
$radio-grande: 30px;
$radio-mediano: 20px;
