$color-fondo: #ffffff;
$color-header: #031d37;
$color-principal: #10b3ee;
$espaciado-chico: 1rem;
$espaciado-base: 1.5rem;
$borde-redondeado: 15px;
$espaciado-grande: 2rem;
$color-precio: #6ace83;
$borde-general: 1px solid #0000002f;
$radio-redondeado: 15px;
$color-hover: #10b3ee;
