@use "variables" as vars;
@use "mixin" as mx;
@use "navbar";
@include mx.img;
@include mx.hover;

#fondo{
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    font-family: vars.$fuente-base;
    font-size: larger;
}

body{
    font-family: vars.$fuente-base !important;
}

.mi-main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: vars.$radio-mediano;
    box-shadow: vars.$color-sombra 0px 2px 5px 0px;
}

.logo-tienda{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width: 100%;
        height: auto;
    }
}
@media(max-width:680px){
    .nav{
        display: none !important;
    }
    .header{
        padding-bottom: 50px;
    }
    .h1-header{
        font-size: larger;
        margin-top: 60px;
    }
}

.footer {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  padding: 20px;
  background-color: #113b66;
}

.footer-link {
  padding: 10px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.footer-link:hover {
  color: #10b3ee;
}

